
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(176, 38, 255, 0.5); 
    color: #333;
    background-image: url("https://img.freepik.com/free-vector/realistic-neon-lights-background_52683-59889.jpg?semt=ais_hybrid");
    background-size: cover;
}

.seznam-container {
    padding: 20px;
    background-color: rgba(176, 38, 255, 0.5); 
    text-align: center;
}


.seznam-flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}


.seznam-item-nakup,
.seznam-item-doprava,
.seznam-item-popis {
    background-color: #2f006f;
    color: #e500ff;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.seznam-img-nakup,
.seznam-img-doprava,
.seznam-img-popis {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}


.seznam-title-nakup,
.seznam-title-doprava,
.seznam-title-popis {
    margin-bottom: 10px;
}


.seznam-list-nakup,
.seznam-list-doprava,
.seznam-list-popis {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
}


.seznam-item-mleko,
.seznam-item-syr,
.seznam-item-zelenina,
.seznam-item-auto,
.seznam-item-letadlo,
.seznam-item-tramvaj,
.seznam-item-mleko-dt,
.seznam-item-mleko-dd,
.seznam-item-syr-dt,
.seznam-item-syr-dd,
.seznam-item-zelenina-dt,
.seznam-item-zelenina-dd {
    margin: 5px 0;
}


.seznam-button-back {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e500ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.seznam-button-back:hover {
    background-color: #0056b3;
}

.button-containerprg {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-linkprg {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e500ff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}