.p {
    font-size: 1.5em;
    font-family: "Zain";
}

body.dark {
    background-color: rgb(19, 19, 19);
    color : rgb(172, 172, 172)
}
body.dark .container {
    background-color: rgb(19, 19, 19);
    color : rgb(172, 172, 172)
}

body.light {
    background-color: white;
    color : rgb(19, 19, 19);
}
body.light .container {
    background-color: white;
    color : rgb(19, 19, 19);
}

body.dark-neon{
    background-color: #312244;
    color: #006466;
}
body.dark-neon .container {
    background-color: #312244;
    color: #006466;
}	

body.light-neon{
    background-color: #6930c3;
    color: #48bfe3;
}
body.light-neon .container {
    background-color: #6930c3;
    color: #48bfe3;
}

body.aqua{
    background-color: #00b4d8;
    color: #235d6e;
}
body.aqua .container {
    background-color: #00b4d8;
    color: #235d6e;
}

body.winter{
    background-color: #a3b1bb;
    color: #4f6472;
}
body.winter .container {
    background-color: #a3b1bb;
    color: #4f6472;
}

body.anime{
    background-color: #ff4d4d;
    color: #ffaf40;
}
body.anime .container {
    background-color: #ff4d4d;
    color: #ffaf40;
}

ascii.anime.background.animation {
    width: 200px; /* Adjust width */
    height: 100px; /* Adjust height */
    background-image: url('frame1.png');
    background-size: cover;
    animation: changeFrame 1s steps(3) infinite;
    @keyframes changeFrame {
        0% { background-image: url('ASCIIAnimeBackgrounAnimationImages\ascii-art(1).txt'); }
        33% { background-image: url('ASCIIAnimeBackgrounAnimationImages\ascii-art(2).txt'); }
        67% { background-image: url('ASCIIAnimeBackgrounAnimationImages\ascii-art(3).txt'); }
        100% { background-image: url('ASCIIAnimeBackgrounAnimationImages\ascii-art(4).txt'); }
      }
}
.container {
    width: 80%;
    margin: 20px auto;
}

.heading,
.nested-heading {
    cursor: pointer;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px 0;
}

.content,
.nested-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0 10px;
}

.content p,
.nested-content p {
    margin: 10px 0;
}

.nested-container {
    margin-left: 20px;
    margin-top: 10px;
}