body {
    background-color: #df0000;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

table {
    border: 10px solid rgb(0, 89, 255);
    padding: 10px;
    margin: 10px;
}